.list-page {
    padding: 20px;
  }
  
  .word-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .repeat-button {
    margin-bottom: 20px;
  }
  
  .add-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }